<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
    type="text/css">

</head>

<body>
  <table
    style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <h1>
                Bohan Lyu
              </h1>
              <p>
                I am an undergruduate at <a href="https://www.tsinghua.edu.cn/en/">Tsinghua University</a>, pursuing a
                dual degree in Computer Science and Economics since 2022.
              </p>
              <p>
                Now I'm working on LLMs for autonomous math theorem proving with formal language at <a href="https://pli.princeton.edu">PLI, Princeton</a>. Prior to it, I've worked in <a href="https://nlp.csai.tsinghua.edu.cn">Tsinghua NLP</a> Lab, advised by <a
                  href="https://nlp.csai.tsinghua.edu.cn/~lzy/">Prof. Zhiyuan Liu</a>, and Rose-STL-Lab, <a
                  href="https://www.ucsd.edu" style="color: #1B264A;">UCSD</a>, advised by <a
                  href="https://roseyu.com">Prof. Rose Yu</a>. I've also interned as a quantitative researcher at <a
                  href="https://en.wikipedia.org/wiki/CSC_Financial#[new]_China_Securities_Co.,_Ltd._(2005–)"
                  style="color: #595c5b;">China Securities</a>.
              </p>
              <p>
                Recently I'm particularly interested in math theorem proving in formal language, and its applications (e.g. how it can benefit natural language reasoning).
              </p>
              <!-- <p>
                My research interests lie in facilitating scientific discovery with large models. My current research
                questions are:
                <br>
                <strong><em>1. How to enable models to learn from their interactions with the physical world and
                    drive progress in scientific discovery?</em></strong>
                <br>
                <strong><em>2. How can we rigorously evaluate the capabilities of scientific agents with methods that
                    go beyond static datasets?</em></strong>
                <br>
                <strong><em>3. How to verify natural language math reasoning with formal language?</em></strong>
              </p> -->
              <p>
                I have served as a reviewer for ICLR 2025, <a href="https://sites.google.com/view/ai4mathworkshopicml2024">AI4MATH @ ICML 2024</a> and <a href="https://llmagents.github.io">LLMAgents @ ICLR 2024</a> .
              </p>
              <p>
                <strong>I am seeking PhD opportunities starting in Fall 2026.</strong> Please feel free to reach out!
              </p>
              <p style="text-align:center">
                <a target="_blank" href="mailto:lyubh22@gmail.com"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/Imbernoulli">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=vMMFoTsAAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://x.com/Lyubh22"> Twitter </a> &nbsp;/&nbsp;
                <a href="http://lyubh.cn/pdfs/Bohan_s_Resume_New.pdf"> CV </a>
              </p>
            </td>
            <td style="padding:2.5%;width:35%;max-width:35%">
              <h1>
                &nbsp;&nbsp;&nbsp;
              </h1>
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/blueMe2.png">
            </td>
          </tr>
          <tr>
            <td colspan="2" style="padding:2.5%">
              <div onclick="toggleContactInfo()">
                &#9654;&nbsp;<b>Contact Info</b> (click to see)
              </div>
              <div id="contactInfo" style="display: none; padding: 10px; background-color: #f9f9f9;">
                <p>WeChat: 13120040612</p>
                <p>Email: <a href="mailto:lyubh22@gmail.com">lyubh22@gmail.com</a></p>
              </div>
            </td>
          </tr>
        </table>

        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>News</h2>
              <ul>
                <li> <b>2024-12</b> Delivered a talk at the Challenge Cup Seminar hosted by Department of
                  Automation, Tsinghua University.</li>
                <li> <b>2024-11</b> Presented my summer project at AAAI FSS.</li>
                <li> <b>2024-10</b> Awarded the Scholarship for Technological Innovation of 5,000 RMB.</li>
                <!-- <li> <b>2024-09</b> My first-author paper is invited to give a 30-min talk at AAAI FSS 2024.</li> -->
                <li> <b>2024-06</b> My team got <b>No.1</b> out of 600+ teams at a Baidu Inc. Data Mining Competition.
                </li>
                <li> <b>2024-05</b> I became a member of 'Sparking Program', the most prestigious and selective academic
                  organization for students at Tsinghua University. </li>
                <li> <b>2024-04</b> I led my team to win Second Place and the Newcomer Prize at <b>Tsinghua University's
                    Challenge Cup</b>. </li>
                <li> <b>2024-04</b> I received a Grade A in the 'Global Exploration Initiative' and was awarded a grant
                  of 20,000 RMB. </li>
              </ul>
            </td>
          </tr>
        </table>

        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research <span style="font-size: 14px;">(* indicates equal contribution)</span></h2>
              <p>
                I'm interested in Natural Language Processing, AI4Science and multimodal learning.
                <button onclick="togglePapers()" id="expandBtn" style="float:right;margin-left:10px;">Show All</button>
              </p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr class="paper-row {% if post.selected != true %}unselected-paper{% endif %}" {% if post.selected != true %}style="display:none" {% endif %}>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <div {% if post.highlight == true %}style="background-color: #e3f2fd; padding: 10px; border-radius: 5px;"{% endif %}>
                <h3>{{post.title}}</h3>
                <br>
                {{post.authors}}
                <br>
                <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
                <br>
                {% if post.arxiv %}
                <a href="{{post.arxiv}}">arxiv</a> /
                {% endif %}
                {% if post.video %}
                <a href="{{post.video}}">video</a> /
                {% endif %}
                {% if post.code %}
                <a href="{{post.code}}">code</a> /
                {% endif %}
                {% if post.poster %}
                <a href="{{post.poster}}">poster</a> /
                {% endif %}
                {% if post.slides %}
                <a href="{{post.slides}}">slides</a> /
                {% endif %}
                {% if post.website %}
                <a href="{{post.website}}">website</a> /
                {% endif %}
                {% if post.youtube %}
                <a href="{{post.youtube}}">youtube</a> /
                {% endif %}
                <p></p>
                {{ post.excerpt }}
              </div>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <script>
          let expanded = false;
          function togglePapers() {
            const btn = document.getElementById('expandBtn');
            const papers = document.getElementsByClassName('unselected-paper');

            expanded = !expanded;

            for (let paper of papers) {
              paper.style.display = expanded ? 'table-row' : 'none';
            }

            btn.textContent = expanded ? 'Show Less' : 'Show All';
          }
        </script>
        <br>
      </td>
    </tr>
  </table>
  <table
    style="width:100%;max-width:100px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:50%;vertical-align:middle">
              <script type="text/javascript" id="clstr_globe"
                src="//clustrmaps.com/globe.js?d=QKiNuRDR5yLKWsUrIdNHRh5T7VUFyownHrMAfmWA900"></script>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <br>
  <br>
  <br>
  <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr>
      <td style="padding:0px">
        <br>
        <p style="text-align:center;font-size:small;">
          Design and source code from <a style="font-size:small;" href="https://leonidk.com">Leonid Keselman's website</a>
        </p>
      </td>
    </tr>
  </table>
  <script>
    function toggleContactInfo() {
      var contactInfo = document.getElementById('contactInfo');
      var icon = document.querySelector('.toggleIcon');
      if (contactInfo.style.display === 'none') {
        contactInfo.style.display = 'block';
        icon.className = 'toggleIcon open';
      } else {
        contactInfo.style.display = 'none';
        icon.className = 'toggleIcon closed';
      }
    }
  </script>
</body>

</html>